$color-primary: #02c98f;
$color-primary-dark: #01ba82;
$color-white: #fff;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #777;
	box-sizing: border-box;
}


.nav {
	position: relative;
	height: 7rem;
  	margin: 1rem 3rem;
  	width: 100%;
}

.nav__logo-box {
	position: absolute;
	left: 2rem;
	top: -2rem;
}

.nav__logo {
	height: 3.5rem;
}

.hero {
	min-height: 70vh;
	max-height: 100rem;
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	margin: 1rem 3rem;
}

.hero__content-box {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	display: flex;
	flex-flow: column;
  	align-items: center;
}

.heading-primary {
	color: $color-white;
	display: block;
	font-size: 5.5rem;
	letter-spacing: .25rem;
	line-height: 1.4;
	font-weight: 700;
	text-align: center;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	font-size: 1.8rem;
	font-weight: 700;
	transition: all .2s;
	letter-spacing: 1px;
	position: relative;

}

.btn:hover {
	transform: translateY(-.3rem);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn:active {
	transform: translateY(-.1rem);
}

.btn--green {
	background-color: $color-primary;
	color: $color-white;
}

.btn--white {
	background-color: $color-white;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn--green:hover {
	background-color: $color-primary-dark;
}

.btn--green:hover::after {
	background-color: $color-primary-dark;
}

.btn--animated {
	animation: moveInBottom .5s ease-out .7s;
	animation-fill-mode: backwards;
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.hero__key-values {
	position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 10rem;
    background-color: rgba(0,0,0,.4);
}

.hero__content {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 1.5rem 0;
}

.hero__item {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
}

.hero__item-icon {
	height: 5rem;
}

.hero__item-copy {
	color: $color-white;
	max-width: 16rem;
	font-size: 1.2rem;
	margin-left: 1rem;
	line-height: 1.2;
	font-weight: 400;
}

.margin-left {
	margin-left: 4rem;
}

.margin-top {
	margin-top: 4rem;
}

















